/* con lo siguiente hacemos el reseteo de parametros*/
*{
    box-sizing: border-box;
    margin: auto;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.body {
    margin: auto;
    width: 1024px;
}

.preHdr {
    height: 20px;
    width: 1024px;
    background-color: black;
    font-size: 10px;
    color: white;
}
.preHdr1 {
    text-align: left;
    padding-left: 90px;
    padding-top: 4px;
}
    
.preHdr2 {
    text-align: right;
    padding-left: 700px;
    padding-top: 4px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#F0A83E;
    width: 1024px;
    height: 62px;
}

.logo {
    height: 23px;
    width: 166.38px;
/*     padding-left: 40px;
    padding-top: 19.5px; */
}

nav {
    color: white;
    height: 62px;
    margin-left: 400px;
    margin-top: 20px;
    /* margin-bottom: 1px; */
}

nav li {
    display: inline;
    padding-right: 20px;
    text-decoration:double;
}

a {
    outline: none;
    text-decoration: none;
    font-size: 13px;
}

a:visited {
    color: white;
}

.banner {
    background-image: url(../img/Slide.png);
    background-repeat: no-repeat;
    background-size: 309px;
    height: 409px;
    width: 1024px;
    background-size: cover;
}

.bann1 {
    position: relative;
    z-index: 10;
    top: 172px;
    left: 650px;
    width: 345px;
    height: 35;
    text-align: center;
    color:#3C2313;
    font-size: 30px;
    background-color: white;
}

.bann2 {
    font-size: 16px;
    color: #3C2313;
    position: relative;
    z-index: 10;
    left: 390px;
    top: 200px;    
}

.bann3 {
    background-color: #F0A83E;
    padding: 15px 25px;
    color: white;
    position: relative;
    z-index: 10;
    left: 225px;
    top: 240px;
}
/* .main {
    width: 1024px;
} */

.prod {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-content: center;
}

.imgPat {
    width: 67px;
    height: 71px;
}

.prodTitle {
    color: #3C2313;
    font-weight: 900px;
    font-size: 40px;
}

.titleOpc {
    font-size: 15px;
    font-weight: 400px;
    color: #666666;
}

.imgCenter {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    top: 80px;
    padding-top: 50px;
}

.imgCenter1 {
    background-image: url(../img/churrasquito.png);
    width: 265px;
    height: 312px;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
 
}
.imgCenter2 {
    background-image: url(../img/Comedero.png);
    width: 265px;
    height: 312px;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;    
}

.imgCenter3 {
    background-image: url(../img/Huesito.png);
    width: 265px;
    height: 312px;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
}

.txtimgCenter {
    padding-top: 270px;
    font-size: 15px;
    font-weight: 500px;
}

.prcimgCenter {
    color: #F0A83E;
    font-size: 15px;
    font-weight: 500px;
}

form {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
}

label {
    color: #3C2313;
    font-size: 25px;
    font-weight: 700px;
}

input {
    width: 340px;
    height: 40px;
    border-radius: 15px;
    background-color: #3C2313;
    font-size: 9px;
    color: white;
    margin-top: 10px;
    backface-visibility: hidden;
}

.button {
    flex-direction: row;
    padding-top: 25px;
    border-bottom: 0px;
}

.button input {
    width: 110px;
    height: 34px;
    font-size: 16px;
    font-weight: 400px;

}

#btn1 {
    background-color:#8A8787;
    color: white;
}

#btn2 {
    background-color:#F0A83E;
    color: white;
}

.subscribete {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 1024px;
    height: 60px;
    background-color: #F0A83E;
    color: white;
}

.subscribete .imgSobre {
  margin-left: 15px;
}

.subscribete .txtSubs {
    padding-right: 300px;
}

.form2 {
    display: inline;
}

.subscribete .form2 .intSubs{
    width: 271px;
    height: 40px;
    color: #A0A0A0;
    background-color: white;
}

.subscribete .form2 .btn3 {
    width: 70px;
    height: 34px;
    font-size: 9px;
    border-radius: 15px;
}

footer {
    height: 301px;
    width: 1024px;
    background-color: #3C2313;
}

.iconFoot {
    position: relative;
}

.icon {
    position: relative;
    z-index: 10;
    left: 70px;
    top: 30px;
    bottom: 5px;
   /*  padding-top: 1px; */
}

.item {
    position: relative;
    z-index: 15px;
    left: 80px;
    bottom: 15px;
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.desc {
    position: relative;
    z-index: 20px;
    /* text-align: left; */
    /* left: 10px; */
    bottom: 10px;
}

.desc p {
    margin-left: 150px;
    color: aliceblue;
    font-size: 10px;
}

.logoFooter {
    position: relative;
    z-index: 10px;
    left: 788px;
    bottom: 120px;
    caption-side: top;
    vertical-align: auto;
}

.derechos {
    margin-top: 20px ;
    height: 20px;
    background-color: #222222;
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: bold;
}